<header >
    <div class="row pt-3">
        <div class="logo col-md-6">
            <img src="../img/Logo.png" alt="logotipus">
        </div>
        <div class="list-group text-uppercase col-md-6 font-weight-bold" id="myList" role="tablist">
            <a class="list-group-item p-2 text-monospace list-group-item-action text-white active" data-toggle="list" href="#home" role="tab">Home</a>
            <a class="list-group-item p-2 text-monospace list-group-item-action text-white" data-toggle="list" href="#About" role="tab">About</a>
            <a class="list-group-item p-2 text-monospace list-group-item-action text-white" data-toggle="list" href="#Services" role="tab">Services</a>
            <a class="list-group-item p-2 text-monospace list-group-item-action text-white" data-toggle="list" href="#Works" role="tab">Works</a>
            <a class="list-group-item p-2 text-monospace list-group-item-action text-white" data-toggle="list" href="#Contact" role="tab">Contact</a>
        </div>
        
    </div>

</header>