@import 'bootstrap/bootstrap';
@import 'variables';
@import 'mixins';
@import 'slider';

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 20px;
    // font-family: '';
    scroll-behavior: smooth;
}

// body {
//     min-height: 100%;
//     // @include text($text-color, $text-font, 1.4rem, 500);
// }



.hero{
    background-image: url(../img/bgi-hero.png), linear-gradient($primary);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 1060px;
    & h1{
        margin-top: 12rem;
    }
}

.about{
    background-color: $light;

    &-bgi{
    width: 19rem;
    height: 27rem;
    background-image: url(../img/bgi-about.png), linear-gradient($primary);
    background-position: center;
    }
    &-btn{
        border-radius: 0rem }
}

.services{
background-color: $light;
    &-block{
        min-height: 300px;
        padding: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.services-bgi{
    background-image: url(../img/card.png), 
                        linear-gradient($primary);
    background-position: center bottom;
    background-size: cover;
    justify-content: start;
}

.works{
height: 1000px;
background-image: url(../img/bgi-works.png), linear-gradient($primary);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
overflow: hidden;

}

.team{
    height: 820px;
}

.mapmap{
    background-image: url(../img/bgi-map.png), linear-gradient($primary);
    height: 900px;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0;
    &-info{
        position: relative;
        width: 270px;
        height: 90px;
        background-color: rgba(255,255,255, .5);
        transform: translateX(100%);
        transition: .5s ease-in ;

        &:active, &:hover, &:focus{
        transform: translateX(0%);
        transition: .5s ease-in ;
        }
        // & p{ }
    }
    &-icon , &-arrow{
        position: absolute;
        left: -90px;
        bottom: 0;
        background-color: $primary;
        height: 90px;
        width: 90px;
    }

    &-arrow{
        bottom: 50px;
        left: 80%;
        opacity: .5;
        transform: scale(.9);
        transition: ease-in .5s;
        &:active, &:hover, &:focus{
            opacity: .6;
            transform: scale(1);
            transition: ease-in .5s;            
        }
    
    }
    & input{
        background-color: rgba(255,255,255, .5);
    }
}
#map{
    z-index: 1;
}

.footer{
    height: 180px;
    background-color: $primary;
}

.links a{
    display: inline-block;
    & i{
        width: 34px;
        height: 34px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.carousel-indicators{
    bottom: -20%;}

.carousel-item{
    overflow: hidden;}

.carousel{
    width: 720px;
    max-width: 100%; 
}

.border-radiis{
    border-radius: 50%;}