@import 'bootstrap/bootstrap';
@import 'variables';
@import 'mixins';
@import 'slider';

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 20px;
    scroll-behavior: smooth;
}

.hero{
    background-image: url(../img/bgi-hero.png), linear-gradient($primary);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 100vh;
    & h1{
        margin-top: 12rem;
         @media screen and (max-width: 768px) {
            margin-top: 3rem !important;
            font-size: 60px;
        }
    }
}

.about{
    background-color: $light;    
    &-bgi{
    width: 19rem;
    height: 27rem;
    background-image: url(../img/bgi-about.png), linear-gradient($primary);
    background-position: center;
    }
    &-btn{
        border-radius: 0rem }
}

.services{
background-color: $light;
    &-block{
        min-height: 300px;
        padding: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.services-bgi{
    background-image: url(../img/card.png), 
                        linear-gradient($primary);
    background-position: center bottom;
    background-size: cover;
    justify-content: start;
}

.works{
background-image: url(../img/bgi-works.png), linear-gradient($primary);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
overflow: hidden;

}

.link{
    display: inline-block;
    & i{
        width: 34px;
        height: 34px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &:hover{
        text-decoration: none;

    }
}

.team{
    & .links {
        display: flex;
        justify-content: space-around;
    }
}

.mapmap{
    background-image: url(../img/bgi-map.png), linear-gradient($primary);
    // height: 900px;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0;
    
    &-info{
        position: relative;
        width: 270px;
        height: 90px;
        background-color: rgba(255,255,255, .5);
        transform: translateX(100%);
        transition: .5s ease-in ;

        &:active, &:hover, &:focus{
        transform: translateX(0%);
        transition: .5s ease-in ;
        
        }
        & a:hover{ 
            text-decoration: none;
            color: $primary !important;
            transition: .2s ease-out;
        }
    }

    &-icon , &-arrow{
        position: absolute;
        left: -90px;
        bottom: 0;
        background-color: $primary;
        height: 90px;
        width: 90px;
    }

    &-arrow{
        bottom: 50px;
        left: 80%;
        opacity: .5;
        transform: scale(.9);
        transition: ease-in .5s;
        &:active, &:hover, &:focus{
            opacity: .6;
            transform: scale(1);
            transition: ease-in .5s;            
        }
    
    }
    & input{
        background-color: rgba(255,255,255, .5);
        max-width: 48% !important;
        & + input{
            margin-left: 4%;
        }
    }
}
#map{
    z-index: 1;
}

.footer{
    height: 180px;
    background-color: $primary;
}

.carousel-indicators{
    bottom: -20%;}
.carousel-item{
    overflow: hidden;}
.carousel{
    display: block;
    width: 720px;
    min-height: 33%;
    padding: 5px;
    margin: 0 auto;
    & img{
        height: 100%;
        display: inline-block;
    }
}


.border-radiis{
    border-radius: 50%;}